[Unit]
Description=wlsunset
PartOf=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/wlsunset -l 52.094109 -L 23.731911
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=graphical-session.target
