@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

@define-color rosewaterAlpha rgba(244, 219, 214, 0.7);
@define-color flamingoAlpha rgba(240, 198, 198, 0.7);
@define-color pinkAlpha rgba(245, 189, 230, 0.7);
@define-color mauveAlpha rgba(198, 160, 246, 0.7);
@define-color redAlpha rgba(237, 135, 150, 0.7);
@define-color maroonAlpha rgba(238, 153, 160, 0.7);
@define-color peachAlpha rgba(245, 169, 127, 0.7);
@define-color yellowAlpha rgba(238, 212, 159, 0.7);
@define-color greenAlpha rgba(166, 218, 149, 0.7);
@define-color tealAlpha rgba(139, 213, 202, 0.7);
@define-color skyAlpha rgba(145, 215, 227, 0.7);
@define-color sapphireAlpha rgba(125, 196, 228, 0.7);
@define-color blueAlpha rgba(138, 173, 244, 0.7);
@define-color lavenderAlpha rgba(183, 189, 248, 0.7);
@define-color textAlpha rgba(202, 211, 245, 0.7);
@define-color subtext1Alpha rgba(184, 192, 224, 0.7);
@define-color subtext0Alpha rgba(165, 173, 203, 0.7);
@define-color overlay2Alpha rgba(147, 154, 183, 0.7);
@define-color overlay1Alpha rgba(128, 135, 162, 0.7);
@define-color overlay0Alpha rgba(110, 115, 141, 0.7);
@define-color surface2Alpha rgba(91, 96, 120, 0.7);
@define-color surface1Alpha rgba(73, 77, 100, 0.7);
@define-color surface0Alpha rgba(54, 58, 79, 0.7);
@define-color baseAlpha rgba(36, 39, 58, 0.7);
@define-color mantleAlpha rgba(30, 32, 48, 0.7);
@define-color crustAlpha rgba(24, 25, 38, 0.7);

* {
  border: none;
  font-family: monospace;
  font-size: 15px;
  min-height: 0px;
}

window#waybar {
  background-color: @crustAlpha;
  border-radius: 8px;
  color: @text;
  transition-property: background-color;
  transition-duration: .5s;
}

#workspaces button {
  padding: 0 0.1em;
  margin: 0 2px 0 0;
  background: transparent;
  color: @text;
  margin: 0.25em;
  border-radius: 15px;
  border: 0px;
  transition: all 0.1s linear;
  min-width: 20px;
  opacity: 0.3;
}

#workspaces button.active {
  background-color: @greenAlpha;
  color: @crust;
  border-radius: 15px;
  min-width: 30px;
  transition: all 0.1s linear;
  opacity: 1.0;
}

#workspaces button.urgent {
  background-color: @red;
  color: @text;
  opacity: 1;
}

#tray {
  margin: 0px 10px 0px 0px;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @redAlpha;
}

#tray menu {
  background-color: @crustAlpha;
  border-radius: 8px;
  color: @text;
}


#battery {
  background: transparent;
  color: @text;
  margin: 0 4px;
  padding: 0 4px;
}

#battery.charging,
#battery.plugged {
  color: @green;
}

@keyframes blink {
  to {
    background-color: @crustAlpha;
    color: @text;
  }
}

#battery.critical:not(.charging) {
  background-color: @redAlpha;
  color: @base;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#clock {
  color: @text;
  background: transparent;
  margin: 0 4px;
  padding: 0 4px;
}

#language {
  color: @text;
  background: transparent;
  margin: 0 4px;
  padding: 0 4px;
}

#pulseaudio {
  color: @text;
  background: transparent;
  margin: 0 4px;
  padding: 0 4px;
}


#pulseaudio.muted {
  color: @peach;
}

#pulseaudio.source-muted {
  color: @maroon;
}

#pulseaudio.muted.source-muted {
  color: @red;
  font-weight: bold;
}

label:focus {
  background-color: @crustAlpha;
}

tooltip {
  border-radius: 8px;
  background-color: @crustAlpha;
  padding: 20px;
  margin: 0px;
}