@define-color rosewater #f2d5cf;
@define-color flamingo #eebebe;
@define-color pink #f4b8e4;
@define-color mauve #ca9ee6;
@define-color red #e78284;
@define-color maroon #ea999c;
@define-color peach #ef9f76;
@define-color yellow #e5c890;
@define-color green #a6d189;
@define-color teal #81c8be;
@define-color sky #99d1db;
@define-color sapphire #85c1dc;
@define-color blue #8caaee;
@define-color lavender #babbf1;
@define-color text #c6d0f5;
@define-color subtext1 #b5bfe2;
@define-color subtext0 #a5adce;
@define-color overlay2 #949cbb;
@define-color overlay1 #838ba7;
@define-color overlay0 #737994;
@define-color surface2 #626880;
@define-color surface1 #51576d;
@define-color surface0 #414559;
@define-color base #303446;
@define-color mantle #292c3c;
@define-color crust #232634;

* {
  font-family: monospace;
  font-size: 14px;
  background: transparent;
  border: none;
  min-height: 0;
}

window#waybar {
  color: @text;
  margin-top: 10px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces {
  background: @base;
  margin: 3px 3px 0 3px;
  padding: 1px;
  border-radius: 8px;
  border: 0px;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  color: @text;
}

#workspaces button {
  border-radius: 8px;
  padding: 0 0.25em;
  color: @text;
  margin: 0 0.15em;
}

#workspaces button.empty {
  color: @overlay0;
}

#workspaces button.active {
  background-color: @mauve;
  color: @base;
}

#workspaces button.urgent {
  background-color: @red;
  color: @text;
}

.modules-right {
  margin: 3px 3px 0 3px;
}

#language,
#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#systemd-failed-units,
#tray,
#cpu,
#memory,
#hardware {
  background: @base;
  color: @text;
  padding: 1px 10px;
  margin: 0px 0.1em;
  border-radius: 8px;
}

#battery.charging {
  color: @green;
}

#cpu,
#memory {
  margin: 2px 1px 3px 1px;
  color: @text;
  margin: 0 0.1em;
  padding: 0 5px;
}

tooltip {
  background-color: @base;
  padding: 20px;
  margin: 0px;
}

@keyframes blink {
  to {
    background-color: @backgroundlight;
    color: @textcolor2;
  }
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
