* {
  font-family: monospace;
  font-size: 16px;
  font-weight: 500;
  border: none;
  min-height: 0;
}

window#waybar {
  color: white;
  background: rgba(0, 0, 0, 1);
}

#workspaces {
  border: none;
  font-size: 16px;
  color: white;
}

#workspaces button {
  color: gray;
  padding: 0 3px;
  margin: 0 0.15em;
}

#workspaces button.active {
  color: white; /* Text color for the active workspace */
  font-weight: 700;
  border-radius: 0px;
}

#workspaces button.urgent {
  background-color: red;
  color: white;
}

.modules-right {
}

#language,
#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray {
  color: white;
  padding: 1px 10px;
  margin: 0px 0.1em;
}

#battery.charging {
  color: lightgreen;
}

tooltip {
  background-color: @base;
  padding: 20px;
  margin: 0px;
}

@keyframes blink {
  to {
    background-color: @backgroundlight;
    color: white;
  }
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
